/* General */
* {
    margin: 0;
}
body {
    background-color: #202124;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#react-app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
}

.content {
    min-width: 1000px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    flex-grow: 1;

    align-items: center;
    justify-content: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 100%;
        min-width: initial;
    }
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}
h3 .subtitle {
    font-size: 14px;
    font-weight: 400;
}

.shadow {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

input[type="text"], input[type="number"] {
    border: 1px solid #e0e0e0;
    border-radius: 5px 0 0 5px;
    background-color: #2d2e30;
    color: white;
    padding: 10px 20px;
    font-size: 16;
    width: 360px;
}
.submit { /* Designed to sit right next to an input field */
    border: 1px solid #e0e0e0;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #2d2e30;
    color: white;
    padding: 10px 20px;
    font-size: 16;
    cursor: pointer;
}
.submit:disabled {
    color: #6d6d6d;
    cursor: not-allowed;
}

.button {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #2d2e30;
    color: white;
    padding: 10px 20px;
    font-size: 16;
    cursor: pointer;
}

/* Poll page */

.poll {
    display:flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.poll-header {
    height: 30px;
}
.poll-votes {
    flex-grow: 2;
}
.poll-input {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid white;
    min-height: 300px;
    max-height: 300px;
}

.voteselector-cardcontainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.voteselector-votecard {
    height: 150px;
    width: 100px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #2d2e30;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    font-size: 40;
    font-weight: 600;
}
.voteselector-votecard:hover {
    cursor: pointer;
    background-color: #414244;
}
.voteselector-cancel label {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

.highlight {
    background-color: #414244;
    border: 1px solid #86ff86;
}
.dim {
    position: relative;
}
.dim:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* Front page */